.Quote {
  margin: 1em;
  border: 1px solid #ccc; }
  .Quote .quote-author {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .Quote .quote-string {
    padding: 0.5em; }
