@charset "UTF-8";
Quote {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 16rem; }
  Quote .quote-author {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eaeaea; }
  Quote .quote-string {
    padding: 0.5em; }

FormInputError {
  color: #c72222; }
  FormInputError .FormInputError::before {
    display: inline;
    content: '⚠ '; }

@media (min-width: 992px) and (max-width: 1199px) {
  .card-columns {
    column-count: 4; } }

@media (min-width: 768px) and (max-width: 991px) {
  .card-columns {
    column-count: 3; } }

@media (min-width: 576px) and (max-width: 767px) {
  .card-columns {
    column-count: 2; } }

.link {
  cursor: pointer; }

.input-group {
  padding: 1em; }
